pipeline:
  name: conditional_branch_tabular_eval
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: train_tab_catboost
      context_key: fitted_train_tab_catboost
    - step_id: train_tab_xgboost
      context_key: fitted_train_tab_xgboost
    - step_id: preprocess
      context_key: fitted_preprocess
  - id: preprocess
    type: preprocessor
    log_artifact: true
    artifact_type: preprocess
    enabled: true
    depends_on:
    - init_artifacts
    - load_data
    is_train: false
    alias: latest
    instance_key: fitted_preprocess
  - id: model_selection
    type: branch
    enabled: true
    depends_on:
    - preprocess
    condition:
      key: feature_columns_size
      operator: '>'
      value: 4
    if_true:
      id: train_tab_catboost_evaluate
      type: evaluator
      enabled: true
      depends_on:
      - preprocess
      wiring:
        inputs:
          model: fitted_train_tab_catboost
          features: preprocessed_data
          targets: target_data
        outputs:
          metrics: evaluation_metrics
    if_false:
      id: train_tab_xgboost_evaluate
      type: evaluator
      enabled: true
      depends_on:
      - preprocess
      wiring:
        inputs:
          model: fitted_train_tab_xgboost
          features: preprocessed_data
          targets: target_data
        outputs:
          metrics: evaluation_metrics
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - model_selection
    wiring:
      inputs:
        model: selected_model
        metrics: evaluation_metrics
