pipeline:
  name: conditional_branch_tabular_tune
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: preprocess
    type: preprocessor
    log_artifact: true
    artifact_type: preprocess
    enabled: true
    depends_on:
    - load_data
    is_train: true
  - id: prepare_data
    type: datamodule
    depends_on:
    - preprocess
    wiring:
      inputs:
        features: preprocessed_data
        targets: target_data
      outputs:
        datamodule: prepare_data_datamodule
  - id: tune_train_tab_catboost
    type: tuner
    enabled: true
    depends_on: []
    target_model_id: train_tab_catboost
  - id: tune_train_tab_xgboost
    type: tuner
    enabled: true
    depends_on: []
    target_model_id: train_tab_xgboost
  - id: model_selection
    type: branch
    enabled: true
    depends_on:
    - preprocess
    condition:
      key: feature_columns_size
      operator: '>'
      value: 4
    if_true:
      id: train_tab_catboost
      type: framework_model
      log_artifact: true
      artifact_type: model
      experiment_config: mlproject/configs/model/catboost_tabular.yaml
      wiring:
        inputs:
          datamodule: prepare_data_datamodule
        outputs:
          model: selected_model
      use_tuned_params: true
      tune_step_id: tune_train_tab_catboost
      depends_on:
      - tune_train_tab_catboost
    if_false:
      id: train_tab_xgboost
      type: framework_model
      log_artifact: true
      artifact_type: model
      experiment_config: mlproject/configs/model/xgboost_tabular.yaml
      wiring:
        inputs:
          datamodule: prepare_data_datamodule
        outputs:
          model: selected_model
      use_tuned_params: true
      tune_step_id: tune_train_tab_xgboost
      depends_on:
      - tune_train_tab_xgboost
  - id: evaluate
    type: evaluator
    enabled: true
    depends_on:
    - model_selection
    wiring:
      inputs:
        model: selected_model
        datamodule: prepare_data_datamodule
      outputs:
        metrics: evaluation_metrics
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - evaluate
    wiring:
      inputs:
        model: selected_model
        metrics: evaluation_metrics
