pipeline:
  name: dynamic_adapter_train_serve
  steps:
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: kmeans_dynamic
      context_key: fitted_kmeans_dynamic
    - step_id: xgboost_model
      context_key: fitted_xgboost_model
    - step_id: preprocess
      context_key: fitted_preprocess
    - step_id: impute_nan
      context_key: fitted_impute_nan
  - id: preprocess
    type: preprocessor
    log_artifact: true
    artifact_type: preprocess
    enabled: true
    depends_on:
    - init_artifacts
    is_train: false
    alias: latest
    instance_key: fitted_preprocess
  - id: impute_nan
    type: dynamic_adapter
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    class_path: sklearn.impute.SimpleImputer
    run_method: fit_transform
    wiring:
      inputs:
        X: preprocessed_data
      outputs:
        output: imputed_data
    is_train: false
    instance_key: fitted_impute_nan
  - id: kmeans_dynamic_inference
    type: feature_inference
    enabled: true
    depends_on:
    - init_artifacts
    - impute_nan
    source_model_key: fitted_kmeans_dynamic
    base_features_key: imputed_data
    output_key: kmeans_dynamic_predictions
    apply_windowing: false
  - id: xgboost_model_inference
    type: feature_inference
    enabled: true
    depends_on:
    - init_artifacts
    - kmeans_dynamic_inference
    source_model_key: fitted_xgboost_model
    base_features_key: preprocessed_data
    output_key: xgboost_model_predictions
    apply_windowing: true
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - xgboost_model_inference
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
