pipeline:
  name: kmeans_then_xgboost_serve
  description: Two-stage pipeline with clustering profiling
  steps:
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: kmeans_features
      context_key: fitted_kmeans_features
    - step_id: xgboost_model
      context_key: fitted_xgboost_model
    - step_id: preprocess
      context_key: fitted_preprocess
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - init_artifacts
    is_train: false
    alias: latest
    instance_key: fitted_preprocess
  - id: kmeans_features_inference
    type: feature_inference
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    source_model_key: fitted_kmeans_features
    base_features_key: preprocessed_data
    output_key: kmeans_features_predictions
    apply_windowing: true
  - id: xgboost_model_inference
    type: feature_inference
    enabled: true
    depends_on:
    - init_artifacts
    - kmeans_features_inference
    source_model_key: fitted_xgboost_model
    base_features_key: preprocessed_data
    output_key: xgboost_model_predictions
    apply_windowing: true
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - xgboost_model_inference
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
