pipeline:
  name: nested_suppipeline_eval
  steps:
  - id: load_data
    type: data_loader
    enabled: true
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: latest
    load_map:
    - step_id: cluster_type_1
      context_key: fitted_cluster_type_1
    - step_id: train_model
      context_key: fitted_train_model
    - step_id: preprocess
      context_key: fitted_preprocess
    - step_id: impute_nan
      context_key: fitted_impute_nan
    - step_id: pca
      context_key: fitted_pca
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - init_artifacts
    - load_data
    is_train: false
    wiring:
      inputs:
        df: df
        train_df: train_df
        test_df: test_df
      outputs:
        features: preprocessed_data
        targets: target_data
    alias: latest
    instance_key: fitted_preprocess
  - id: cluster_pipeline
    type: sub_pipeline
    enabled: true
    depends_on:
    - preprocess
    isolated: false
    pipeline:
      steps:
      - id: impute_nan
        type: dynamic_adapter
        enabled: true
        class_path: sklearn.impute.SimpleImputer
        run_method: transform
        wiring:
          inputs:
            X: preprocessed_data
          outputs:
            output: imputed_data
        is_train: false
        instance_key: fitted_impute_nan
      - id: cluster_type_1
        type: feature_inference
        model_name: kmean
        log_artifact: true
        artifact_type: model
        depends_on:
        - impute_nan
        output_as_feature: true
        hyperparams:
          n_clusters: 4
        wiring:
          inputs:
            features: imputed_data
            targets: target_data
          outputs:
            features: cluster_1_features
            model: cluster_model_1
        source_model_key: fitted_cluster_type_1
        base_features_key: preprocessed_data
        output_key: cluster_1_features
      - id: pca
        type: dynamic_adapter
        enabled: true
        depends_on:
        - impute_nan
        class_path: sklearn.decomposition.PCA
        run_method: transform
        wiring:
          inputs:
            X: imputed_data
          outputs:
            output: pca_data
        is_train: false
        instance_key: fitted_pca
  - id: cluster_type_1_evaluate
    type: evaluator
    enabled: true
    depends_on:
    - init_artifacts
    - cluster_pipeline
    - preprocess
    wiring:
      inputs:
        features: imputed_data
        model: fitted_cluster_type_1
      outputs:
        metrics: cluster_type_1_metrics
    step_eval_type: clustering
  - id: train_evaluate
    type: evaluator
    enabled: true
    depends_on:
    - init_artifacts
    - preprocess
    - cluster_pipeline
    wiring:
      inputs:
        features: preprocessed_data
        model: fitted_train_model
        targets: target_data
      outputs:
        metrics: train_metrics
    additional_feature_keys:
    - cluster_1_features
    - pca_data
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - cluster_type_1_evaluate
    - train_evaluate
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
  - id: log_results
    type: logger
    enabled: true
    depends_on:
    - cluster_type_1_evaluate
    - train_evaluate
