pipeline:
  name: nested_suppipeline_serve
  steps:
  - id: init_artifacts
    type: mlflow_loader
    enabled: true
    alias: production
    load_map:
    - step_id: cluster_type_1
      context_key: fitted_cluster_type_1
    - step_id: train_model
      context_key: fitted_train_model
    - step_id: preprocess
      context_key: fitted_preprocess
    - step_id: impute_nan
      context_key: fitted_impute_nan
    - step_id: pca
      context_key: fitted_pca
  - id: preprocess
    type: preprocessor
    enabled: true
    log_artifact: true
    artifact_type: preprocess
    depends_on:
    - init_artifacts
    is_train: false
    wiring:
      inputs:
        df: df
        train_df: train_df
        test_df: test_df
      outputs:
        features: preprocessed_data
        targets: target_data
    alias: production
    instance_key: fitted_preprocess
  - id: cluster_pipeline
    type: sub_pipeline
    enabled: true
    depends_on:
    - preprocess
    isolated: false
    pipeline:
      steps:
      - id: impute_nan
        type: dynamic_adapter
        enabled: true
        log_artifact: true
        artifact_type: preprocess
        class_path: sklearn.impute.SimpleImputer
        hyperparams:
          strategy: mean
        run_method: fit_transform
        wiring:
          inputs:
            X: preprocessed_data
          outputs:
            output: imputed_data
      - id: cluster_type_1
        type: inference
        model_name: kmean
        depends_on:
        - impute_nan
        output_as_feature: true
        wiring:
          inputs:
            features: preprocessed_data
            targets: target_data
            model: fitted_cluster_type_1
          outputs:
            features: cluster_1_features
            model: fitted_cluster_type_1
            predictions: cluster_type_1_predictions
      - id: pca
        type: dynamic_adapter
        enabled: true
        log_artifact: true
        artifact_type: preprocess
        depends_on:
        - impute_nan
        class_path: sklearn.decomposition.PCA
        hyperparams:
          n_components: 2
        run_method: fit_transform
        wiring:
          inputs:
            X: imputed_data
          outputs:
            output: pca_data
  - id: train_model_inference
    type: feature_inference
    enabled: true
    depends_on:
    - init_artifacts
    - cluster_pipeline
    source_model_key: fitted_train_model
    base_features_key: preprocessed_data
    output_key: train_model_predictions
    apply_windowing: false
    additional_feature_keys:
    - cluster_1_features
    - pca_data
  - id: final_profiling
    type: profiling
    enabled: true
    depends_on:
    - train_model_inference
    exclude_keys:
    - cfg
    - preprocessor
    - df
    - train_df
    - val_df
    - test_df
